doctype html
html
  head
    title Requirement 7 Resources - Communication MB 2016
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', href="css/style.css")
  body
    article#req7
      include:markdown-it ../md/req_7.md
    footer
      include foot.jade
